.form {
  background-color: rgb(241, 241, 241);
  padding: 3rem;

  label {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0.5em 0;
  }

  select {
    padding: 1em;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgb(214, 214, 214);
  }

  input {
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    border-radius: 1rem;
    border: 1px solid rgb(214, 214, 214);
  }

  textarea {
    min-height: 12rem;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgb(214, 214, 214);
  }

  ::placeholder {
    font-size: 1.4rem;
  }
}
