.title {
  font-weight: 700;

  &--role {
    font-size: 3rem;
    margin: 0.6em 0;

    @include medium {
      font-size: 3.5rem;
    }
  }

  &--company-name {
    font-size: 2.5rem;
  }

  &--medium {
    font-size: 2rem;
    color: $accent-blue;
  }

  &--salary {
    margin-top: 2em;
  }

  &--headline {
    font-size: 3.5rem;
    text-align: center;
    color: $accent-blue;
    margin: 0 0 2em 0;
  }

  &--form {
    font-size: 3rem;
    text-align: center;
    margin: 0.5em 0 1em 0;
  }

  &--c-info {
    font-size: 2.5rem;
    margin-top: 2em;
  }
}
