@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $fc-gray;
  font-size: 1.4rem;

  @include small {
    font-size: 1.6rem;
  }
}

ul {
  list-style: none;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
}
