$fc-white: rgb(255, 255, 255);
$fc-gray: rgb(32, 32, 32);

$accent-blue: rgb(3, 3, 223);
$lighter-blue: rgba(197, 224, 255, 0.226);
$accent-black: rgb(39, 39, 39);
$light-gray: rgb(70, 70, 70);

$blue-700: rgb(39, 38, 67);
$blue-500: rgb(44, 105, 141);
$blue-400: rgb(186, 232, 232);
$blue-200: rgb(227, 246, 245);
